// rebot

@font-face {
    font-family: font-6;
    src: url("../fonts/PragatiNarrow-Regular.eot") format("eot");
    src: url("..//fonts/PragatiNarrow-Regular.svg") format("svg");
    src: url("../fonts/PragatiNarrow-Regular.ttf") format("ttf");
    src: url("../fonts/PragatiNarrow-Regular.woff") format("woff");
    src: url("../fonts/PragatiNarrow-Regular.woff2") format("woff2");
  }
  
    :root {
      --bg-main:#1f4149;
    }
  
    html{
      scroll-behavior: smooth;
    }
  
    body{
      overflow-x: hidden;
      background-repeat: no-repeat;
      background-color: #121316;
    }
  
    a {
      color: #000;
      text-decoration: none;
    }
    
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'font-6';
    }
  
    h1,h2,h3,h4,h5,h6{
      font-family: 'font-6';
    }
  
    ::selection{
      background-color: #1e7a79;
      color: white;
    }
  
  
  // rebot

  // Template

  #template{
    background-color: #0e0d0f;
    position: relative;
    .header,.content{
      background-color: #060707ce;
    }
    .header{
      .title-example{
        text-transform: capitalize;
        letter-spacing: 2px;
      }
      .circle{
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 0 4px;
      }
      .red{
        background-color: rgb(246, 61, 33);
      }
      .yellow{
        background-color: rgb(234, 234, 48);
      }
      .green{
        background-color: rgb(21, 139, 69);
      }
    }
    
  }

  // Template

  // Countdown

  #countdown{
    .card-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      background-color: #1f1f1fe0;
      border-radius: 10px;
      .image{
        width: 80%;
        border-radius: 5px;
        overflow: hidden;
        user-select: none;
        img{
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }

  // Countdown